{% extends "base.html"%}{% block title %}Login{% endblock %} {% block content %}
<div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
              <br /><br />
              <h3 align="center">Choose Inpost near you!</h3>
              <br />
              <div>
                  <a href="https://inpost.pl/znajdz-paczkomat">Find inpost paczkomat near you</a>
            </div>    
            <br />         
            <form method="POST">
                <br />
                <div class="form-group">
                    <select name="paczkomatId" data-live-search="true" id="paczkomatId" class="form-control" title="paczkomatId"> 
                    <option>Select Paczkomat Code</option>   
                    {% for row in data %}
                    <option value="{{row[0]}}">{{row[1]}}</option>
                    {% endfor %}
                    </select>
                </div>
                <br /> 
                <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
        </div>
      <div class="col-sm-3"></div>
</div>
{% endblock %}