{% extends "base.html"%}{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    
    <div class="col-sm-4">
        <br /><br />
        <button  href="#new_offer" class="btn btn-primary btn-lg" data-toggle="modal">Create new offer</button>
    </div>
    <div class="col-sm-4">
        <br /><br />
        <button  href="#search_offer" class="btn btn-primary btn-lg" data-toggle="collapse">Search for offers</button>
        
    </div>
    <div class="col-sm-4">
        <br /><br />
        <button  href="#edit_offer" class="btn btn-primary btn-lg" data-toggle="collapse" >Edit Your offers</button>
    </div>
  </div>
  <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        <div id="search_offer" class="collapse">
            <form method="POST"> 
                <br /><br />
                <h3 align="center">Search for offers</h3> 
                <div class="form-group"> 
                    <label for="offerNameSearch">Offer Name</label> 
                    <input type="offerNameSearch" class="form-control" id="offerNameSearch" name="offerNameSearch" placeholder="Enter offer name" />
                </div> 
                <div class="form-group"> 
                    <label for="offerTypeSearch">Category</label> 
                    <br />
                    <button type="button" class="btn btn-outline-primary" id="offerTypeSearch" name="offerTypeSearch">Tools</button>
                    <button type="button" class="btn btn-outline-primary" id="offerTypeSearch" name="offerTypeSearch">Books</button>
                    <button type="button" class="btn btn-outline-primary" id="offerTypeSearch" name="offerTypeSearch">Boardgames</button>
                    <button type="button" class="btn btn-outline-primary" id="offerTypeSearch" name="offerTypeSearch">Videogames</button>
                    <button type="button" class="btn btn-outline-primary" id="offerTypeSearch" name="offerTypeSearch">Instruments</button>
                    <button type="button" class="btn btn-outline-primary" id="offerTypeSearch" name="offerTypeSearch">Other</button>
                </div>
                
                    <br /> 
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button> 
                  <br /><br />
            </form>
        </div>
        <div id="edit_offer" class="collapse">
            <form method="POST"> 
                <br /><br />
                <h3 align="center">Search for your offers</h3> 
                <div class="form-group"> 
                    <label for="offerNameEdit">Offer Name</label> 
                    <input type="offerNameEdit" class="form-control" id="offerNameEdit" name="offerNameEdit" placeholder="Enter searche offer name" />
                </div> 
                
                    <br /> 
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button> 
                  <br /><br />
            </form>
        </div>
      </div>
      <div class="col-sm-3"></div>
    
  </div>
  <div id="new_offer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Create new offer</h3> 
            </div>
                <div class="modal-body">
                <form method="POST"> 
                    <div class="form-group"> 
                        <label for="offerName">Offer Name</label> 
                        <input type="offerName" class="form-control" id="offerName" name="offerName" placeholder="Enter offer name" />
                    </div> 
                    <div class="form-group"> 
                        <label for="offerDescription">Offer description</label> 
                        <textarea type="offerDescription" class="form-control" rows="5" id="offerDescription" name="offerDescription" placeholder="Describe thing you offer"></textarea>
                    </div> 
                    <br /> 
                    <div class="form-group"> 
                        <label for="offerType">Offer type</label> 
                        <br />
                        <div class="btn-group" >
                            <select type="form-select" >
                                <option>Tools</option>
                                <option>Books</option>
                                <option>Boardgame</option>
                                <option>Videogame</option>
                                <option>Music instrument</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <label for="offerValue">Offer value</label> 
                        <input type="offerValue" class="form-control" id="offerValue" name="offerValue" placeholder="Enter value of the offered product (E.g. 120)" />
                    </div>
                    <div class="form-group"> 
                        <label for="offerPrice">Offer price per day</label> 
                        <input type="offerPrice" class="form-control" id="offerPrice" name="offerPrice" placeholder="Enter price per day of the offered product (E.g. 7)" /> 
                        <br /> 
                    <button type="submit" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" >Create</button> 
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}