{% extends "base.html"%}{% block title %}Search{% endblock %} {% block content %}
<div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <form method="POST"> 
            <br /><br />
            <h3 align="center">Search for offers</h3> 
            <br/>
            <div class="input-group">
                <input type="offerNameSearch" class="form-control" id="myInput" name="offerNameSearch" placeholder="Enter offer name">
              </div>
              <br/>
            <div class="form-select"> 
        </form>
        </div>
      <div class="col-sm-3"></div>
</div>
<div class="row">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Offer name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Price per day</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for row in data %}
      <tr>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4] | int}} zł</td>
        <td>{{row[7]}}</td>
        <td>
          {% if row[7]=='Ready to borrow' %}
          <button type="Rent" class="btn btn-success" data-toggle="modal" data-target="#rentModal{{row[0]}}">Rent</button>
          {% else %}
          <button type="Rent" class="btn" data-toggle="modal" data-target="#rentModal{{row[0]}}" disabled>Rent</button>
          {% endif %}
          <button type="Report" class="btn btn-warning" data-toggle="modal" data-target="#reportModal{{row[0]}}">Report</button>
        </td>
      </tr>
      
<!--Rent Modal -->
<div class="modal fade" id="rentModal{{row[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form method="POST"> 
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h3 align="center">{{row[1]}}</h3>
          <h5>{{row[2]}}</h3>
          <h5>Value: {{row[5] | int}} zł </h5>
          <h5>Price per day: {{row[4]| int}} zł</h5>
          <h5>Rented from: {{row[6]}}</h5>
      </div>
      
          <div class="form-group">
            <div style="margin:10px auto;">
              <br /><br />
              <label for='rentForDays'>For how long you would like to rent it?</label>  
              <input type="rentForDays" class="form-control" id="rentForDays" name="rentForDays" placeholder="Enter number of days" />
              <input type="rentOfferId" class="form-control" id="rentOfferId" name="rentOfferId" hidden value="{{row[0]}}"/>
              <br />
              <label for='rentForDays'>How would you like to pay?</label>  
              <br />
              <div class="form-select"> 
                  <select class="form-select"  id="paymentMethod" name="paymentMethod">
                      <option value=1>Card</option>
                      <option value=2>Bank transfer</option>
                  </select>
              </div>
            </div>
          </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Rent</button>       
      </div>
    </div>
  </div>
  </form>
</div>

<!--Raport Modal -->
<div class="modal fade" id="reportModal{{row[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form method="POST">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Report Offer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="reportDescription">Describe the problem:</label> 
              <textarea type="reportDescription" class="form-control" id="reportDescription" name="reportDescription" placeholder="..." ></textarea>
              <input type="reportOfferId" class="form-control" id="reportOfferId" name="reportOfferId" hidden value="{{row[0]}}"/>
          </div> 
          <div class="form-group"> 
              <label for="reportType">Report category</label> 
              <br />
              <div class="form-select"> 
                  <select class="form-select"  id="reportType" name="reportType">
                      <option value=4>Offensive content</option>
                      <option value=7>Offer expired</option>
                      <option value=8>Offer inconsistent with the regulations</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submitt" class="btn btn-danger">Report</button>
      </div>
    </div>
  </div>
  </form>  
</div>  
      {% endfor %}
    </tbody>
  </table> 
  <p>Start typing to search for products</p>
</div>

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
{% endblock %}